name: Test Suite

on: push

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0', 2.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }} 
    - name: Install dependencies
      run: bundle install
    - name: Init submodules
      run: git submodule update --init --recursive
    - name: Build C library
      run: bin/setup
    - name: Test C library
      run: cd ext/argon2_wrap/ && make test && cd ../..
    - name: Run tests
      run: bundle exec rake
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
